<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>nazoHotel-Admin</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-icon.png">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/manage/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/manage/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/manage/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/manage/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/manage/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/manage/vendors/jqvmap/dist/jqvmap.min.css">


    <link rel="stylesheet" href="/manage/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#"><img src="/manage/images/white-logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="#"><img src="/manage/images/white-logo.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/admin/home"> <i class="menu-icon fa fa-dashboard"></i>홈</a>
                    </li>
                    <h3 class="menu-title">직원</h3><!-- /.menu-title -->
                    <li>
                        <a href="/admin/employee"> <i class="menu-icon fa fa-tasks"></i>직원 목록</a>
                    </li>
                    <li>
                        <a href="/admin/employee/state"> <i class="menu-icon fa fa-tasks"></i>직원 상태</a>
                    </li>
                    <li>
                        <a href="/admin/employee/dept"> <i class="menu-icon fa fa-tasks"></i>부서 목록</a>
                    </li>

                    <h3 class="menu-title">객실</h3><!-- /.menu-title -->
                    <li class="active">
                        <a href="/admin/room"> <i class="menu-icon fa fa-tasks"></i>객실 목록</a>
                    </li>
                    <li>
                        <a href="/admin/option"> <i class="menu-icon fa fa-tasks"></i>옵션 가격 목록</a>
                    </li>

                    <h3 class="menu-title">시설</h3><!-- /.menu-title -->
                    <li>
                        <a href="/admin/facility"> <i class="menu-icon fa fa-tasks"></i>시설 목록</a>
                    </li>
                    <li>
                        <a href="/admin/facility/fixlist"> <i class="menu-icon fa fa-tasks"></i>시설 수리 현황</a>
                    </li>

                    <h3 class="menu-title">관리</h3><!-- /.menu-title -->
                    <li>
                        <a href="/admin/book"> <i class="menu-icon fa fa-tasks"></i>예약 목록</a>
                    </li>
                    <li>
                        <a href="/admin/claim"> <i class="menu-icon fa fa-tasks"></i>고객 요청 사항</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->


    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>객실 목록</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">객실 목록 테이블</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>객실 번호</th>
                                            <th>객실 유형</th>
                                            <th>뷰</th>
                                            <th>객실 가격</th>
                                            <th>체크아웃 유무</th>
                                            <th>청소 유무</th>
                                            <th>주담당 직원번호</th>
                                            <th>부담당 직원번호</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < rooms.length; i++){ %>
                                            <tr>
                                                <th><%- rooms[i].room_id%></th>
                                                <th><%- rooms[i].room_type%></th>
                                                <th><%- rooms[i].view%></th>
                                                <th><%- rooms[i].room_price%>원</th>
                                                <th><%- rooms[i].is_checkout ? 'O' : 'X'%></th>
                                                <th><%- rooms[i].is_clean ? 'O' : 'X'%></th>
                                                <th><%- rooms[i].main_staff_id%></th>
                                                <th><%- rooms[i].sub_staff_id%></th>
                                            </tr>
                                        <% } %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
        
        <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">객실 목록 추가</strong>
                                </div>
                                <div class="card-body">
                                    <form action="/admin/room" method="post">
                                        <div class="table">
                                            
                                            <div class="row">
                                                <label class="col">객실 번호:
                                                    <input class="form-control" type="text" name="room_id">
                                                </label>
                                                <label class="col">객실 유형:
                                                    <input class="form-control" type="text" name="room_type">
                                                </label>
                                                <label class="col">뷰:
                                                    <input class="form-control" type="text" name="view">
                                                </label>
                                            </div>
                                            
                                            <div class="row">
                                                <label class="col">객실 가격:
                                                    <input class="form-control" type="text" name="room_price">
                                                </label>
                                                <label class="col">체크아웃 유무:
                                                    <input class="form-control" type="text" name="is_checkout">
                                                </label>
                                                <label class="col">청소 유무:
                                                    <input class="form-control" type="text" name="is_clean">
                                                </label>
                                            </div>
                                            
                                            <div class="row">
                                                <label class="col">주담당 직원번호:
                                                    <input class="form-control" type="text" name="main_staff_id">
                                                </label>
                                                <label class="col">부담당 직원번호:
                                                    <input class="form-control" type="text" name="sub_staff_id">
                                                </label>
                                                <button type="button col" class="modifybtn">추가</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">객실 목록 수정</strong>
                                </div>
                                <div class="card-body">
                                    <form action="/admin/room" method="post">
                                        <input type="hidden" name="_method" value="PUT"/>
                                        <div class="table">
                                            <div class="row">
                                                <label class="col">객실 번호:
                                                    <input class="form-control" type="text" name="room_id">
                                                </label>
                                                <label class="col">객실 유형:
                                                    <input class="form-control" type="text" name="room_type">
                                                </label>
                                                <label class="col">뷰:
                                                    <input class="form-control" type="text" name="view">
                                                </label>
                                            </div>
                                            
                                            <div class="row">
                                                <label class="col">객실 가격:
                                                    <input class="form-control" type="text" name="room_price">
                                                </label>
                                                <label class="col">체크아웃 유무:
                                                    <input class="form-control" type="text" name="is_checkout">
                                                </label>
                                                <label class="col">청소 유무:
                                                    <input class="form-control" type="text" name="is_clean">
                                                </label>
                                            </div>
                                            
                                            <div class="row">
                                                <label class="col">주담당 직원번호:
                                                    <input class="form-control" type="text" name="main_staff_id">
                                                </label>
                                                <label class="col">부담당 직원번호:
                                                    <input class="form-control" type="text" name="sub_staff_id">
                                                </label>
                                                <button type="button col" class="modifybtn">수정</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div><!-- .animated -->
            </div><!-- .content -->

            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">객실 목록 삭제</strong>
                                </div>
                                <div class="card-body">
                                    <form action="/admin/room" method="post">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <div class="table">
                                            <div class="row">
                                                <label class="col-10">객실번호:
                                                    <input class="form-control" type="text" name="room_id">
                                                </label>
                                                <button type="button col-5" class="modifybtn">삭제</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div><!-- .animated -->
            </div><!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="/manage/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/manage/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/manage/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/manage/assets/js/main.js"></script>


    <script src="/manage/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/manage/assets/js/dashboard.js"></script>
    <script src="/manage/assets/js/widgets.js"></script>
    <script src="/manage/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="/manage/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="/manage/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/manage/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/manage/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/manage/assets/js/main.js"></script>


    <script src="/manage/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/manage/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/manage/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/manage/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/manage/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/manage/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/manage/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="/manage/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/manage/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/manage/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/manage/assets/js/init-scripts/data-table/datatables-init.js">
    </script>
    <script src = "/manage/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
